body{
    width: 1200px;
    margin: 0 auto;
}
header{
    text-align: center;
}

div div{
    border: solid 1px #999;
    margin-left: 5px;
    margin-bottom: 5px;
}

.item1 { grid-row-end: span 9; }
.item2 { grid-row-end: span 4; }
.item3 { grid-row-end: span 3; }
.item4 { grid-row-end: span 10; }
.item5 { grid-row-end: span 10; }
.item6 { grid-row-end: span 9; }
.item7 { grid-row-end: span 2; }
.item8 { grid-row-end: span 7; }
.item9 { grid-row-end: span 7; }
.item10 { grid-row-end: span 9; }
.item11 { grid-row-end: span 3; }

.results {
   max-width: 980px;
   margin: 0 auto;
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(3, 180px);
   grid-auto-rows: minmax(20px, auto);
   justify-content: center;	
 }